@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-slate-100 text-slate-900;
  }
}

@layer components {
  .app-shell {
    @apply max-w-6xl mx-auto px-4;
  }

  .card {
    @apply bg-white p-6 rounded-2xl shadow-md border border-slate-200;
  }
}
